.card-box {
  border: 1px solid #ddd;
  padding: 20px 40px 25px 40px;
  background: white;
  .card-box__value {
    color: var(--primary-color);
    margin: 0;
    font-size: 50px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    position: relative;
    &:after {
      content: "+";
      position: absolute;
      font-size: 33px;
      font-weight: 300;
      top: 2px;
      box-sizing: border-box;
    }
  }
  .card-box__description {
    position: relative;
    padding-left: 45px;
    font-weight: 400;
    max-width: 100px;
    color: var(--font-color);
    line-height: 1.6;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 13px;
      width: 30px;
      height: 1px;
      background: var(--font-color);
    }
  }
}
