.menu {
  height: 100%;
  width: 85px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 999999999;
  right: 0;
  & > div {
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    padding: 5px 5px 5px 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  & > div > div {
    position: relative;
    outline: none;
    width: 39px;
    height: 39px;
    margin: 10px 0px;
    .menu__button-texto {
      width: 37px;
      cursor: pointer;
      height: 41px;
      position: absolute;
      top: 1px;
      outline: none;
      z-index: 1;
      border-radius: 50px;
      transition: 0.3s;
      right: 1px;
      overflow: hidden;
      border: 2px solid var(--font-color);
      box-sizing: border-box;
      background-color: #eee;
      span {
        transition: 0.3s;
        font-family: myriad-pro, sans-serif;
        font-weight: bold;
        position: absolute;
        color: var(--font-color);
        width: 200px;
        left: 20px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
    &:hover .menu__button-texto {
      width: 153px;
    }
    .menu__button {
      background-color: #eee;
      border-radius: 50px;
      cursor: pointer;
      z-index: 2;
      border: 2px solid var(--font-color);
      transition: 0.3s;
      width: 39px;
      height: 39px;
      position: absolute;
      top: 0px;
      left: 0px;

      svg {
        transition: 0.3s;
        position: absolute;
        left: 7px;
        top: 7px;
        width: 25px;
        height: 25px;
        fill: var(--font-color);
      }
    }
    .button--activated {
      & ~ .menu__button-texto {
        border: 2px solid var(--primary-color);
        span {
          color: var(--primary-color);
        }
      }
      svg {
        fill: var(--primary-color);
      }
      border: 2px solid var(--primary-color);
    }
  }
}
.main {
  margin-left: 50px;
}

.header-box {
  width: 100%;
  background: var(--secondary-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.466);
  z-index: 2;
  .header-box__title {
    box-sizing: border-box;
    position: absolute;
    top: -2px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    .title-session {
      height: 100%;
      .title {
        text-transform: uppercase;
      }
    }
  }
}

.mobile {
  position: relative;
  z-index: 999;
  display: none;
  .menu-list {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 80px;
    width: 0%;
    z-index: 1;
    height: calc(100vh - 80px);
    transition: width 500ms ease;
    ul {
      list-style: none;
      .list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px;
        margin: 0 10px;
        span {
          color: var(--font-color);
          font-size: 2rem;
          min-width: 200px;
        }
        svg {
          width: 3rem;
          height: 3rem;
          fill: var(--font-color);
        }
      }

      .mobile--activated {
        .list-item__text {
          color: var(--primary-color);
          fill: var(--primary-color);
        }
      }
    }
  }
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line {
  fill: none;
  transition: stroke-dasharray 600ms, stroke-dashoffset 600ms;
  stroke: var(--primary-color);
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham5 .top {
  stroke-dasharray: 40 82;
}
.ham5 .bottom {
  stroke-dasharray: 40 82;
}
.ham5.active .top {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
.ham5.active .bottom {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
@media (max-width: 768px) {
  .menu {
    .desktop {
      display: none;
    }
  }
  .mobile {
    display: block;
  }
}
