<nav class="menu">
  <div>
    <div routerLink="/inicio">
      <a class="menu__button" routerLinkActive="button--activated">
        <svg
          focusable="false"
          preserveAspectRatio="none"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          aria-hidden="true"
          style="will-change: transform;"
        >
          <path
            d="M16.61,2.21a1,1,0,0,0-1.24,0L1,13.42,2.24,15,4,13.62V26a2,2,0,0,0,2,2H26a2,2,0,0,0,2-2V13.63L29.76,15,31,13.43ZM18,26H14V18h4Zm2,0h0V18a2,2,0,0,0-2-2H14a2,2,0,0,0-2,2v8H6V12.06L16,4.27l10,7.8V26Z"
          ></path>
        </svg>
      </a>
      <div class="menu__button-texto">
        <span>
          Início
        </span>
      </div>
    </div>
    <div routerLink="/sobre-mim">
      <a class="menu__button" routerLinkActive="button--activated">
        <svg
          focusable="false"
          preserveAspectRatio="none"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          aria-hidden="true"
          style="will-change: transform;"
        >
          <path
            d="M16,4a5,5,0,1,1-5,5,5,5,0,0,1,5-5m0-2a7,7,0,1,0,7,7A7,7,0,0,0,16,2Z"
          ></path>
          <path
            d="M26,30H24V25a5,5,0,0,0-5-5H13a5,5,0,0,0-5,5v5H6V25a7,7,0,0,1,7-7h6a7,7,0,0,1,7,7Z"
          ></path>
        </svg>
      </a>
      <div class="menu__button-texto">
        <span>
          Sobre mim
        </span>
      </div>
    </div>
    <!-- <div routerLink="/habilidades">
      <a class="menu__button" routerLinkActive="button--activated">
        <svg
          focusable="false"
          preserveAspectRatio="xMidYMid meet"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          aria-hidden="true"
          style="will-change: transform;"
        >
          <path d="M30,30H22V4h8Zm-6-2h4V6H24Z"></path>
          <path d="M20,30H12V12h8Zm-6-2h4V14H14Z"></path>
          <path d="M10,30H2V18h8ZM4,28H8V20H4Z"></path>
        </svg>
      </a>
      <div class="menu__button-texto">
        <span>
          Habilidades
        </span>
      </div>
    </div> -->
    <div routerLink="/portfolio">
      <a class="menu__button" routerLinkActive="button--activated">
        <svg
          focusable="false"
          preserveAspectRatio="xMidYMid meet"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          aria-hidden="true"
          style="will-change: transform;"
        >
          <path
            d="M27,3H5A2.002,2.002,0,0,0,3,5V27a2.0023,2.0023,0,0,0,2,2H27a2.0027,2.0027,0,0,0,2-2V5A2.0023,2.0023,0,0,0,27,3Zm0,6H17V5H27ZM15,27H11V23h4Zm0-6H11V17h4ZM9,21H5V17H9Zm2-6V11H21v4Zm0-6V5h4V9Zm12,2h4l0,4H23ZM9,5V15H5V5ZM5,23H9v4H5Zm12,4V17H27.001l.001,10Z"
          ></path>
        </svg>
      </a>
      <div class="menu__button-texto">
        <span>
          Portfólio
        </span>
      </div>
    </div>
    <div routerLink="/equipe">
      <a class="menu__button" routerLinkActive="button--activated">
        <svg
          focusable="false"
          preserveAspectRatio="xMidYMid meet"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          aria-hidden="true"
          style="will-change: transform;"
        >
          <path
            d="M26,14H24v2h2a3.0033,3.0033,0,0,1,3,3v4h2V19A5.0058,5.0058,0,0,0,26,14Z"
          ></path>
          <path
            d="M24,4a3,3,0,1,1-3,3,3,3,0,0,1,3-3m0-2a5,5,0,1,0,5,5A5,5,0,0,0,24,2Z"
          ></path>
          <path
            d="M23,30H21V28a3.0033,3.0033,0,0,0-3-3H14a3.0033,3.0033,0,0,0-3,3v2H9V28a5.0059,5.0059,0,0,1,5-5h4a5.0059,5.0059,0,0,1,5,5Z"
          ></path>
          <path
            d="M16,13a3,3,0,1,1-3,3,3,3,0,0,1,3-3m0-2a5,5,0,1,0,5,5A5,5,0,0,0,16,11Z"
          ></path>
          <path
            d="M8,14H6a5.0059,5.0059,0,0,0-5,5v4H3V19a3.0033,3.0033,0,0,1,3-3H8Z"
          ></path>
          <path
            d="M8,4A3,3,0,1,1,5,7,3,3,0,0,1,8,4M8,2a5,5,0,1,0,5,5A5,5,0,0,0,8,2Z"
          ></path>
        </svg>
      </a>
      <div class="menu__button-texto">
        <span>
          Equipe
        </span>
      </div>
    </div>
  </div>
</nav>
