//#008bfd azul
//#ff2e5f rosa

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.titulo {
  font-size: 100px;
  font-weight: bold;
  line-height: 1.5;
  width: 400px;
  color: #008bfd;
}
