.personal-info {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .personal-info__left {
    min-width: 600px;
    .personal-info__title {
      padding-bottom: 22px;
      font-weight: 600;
      font-size: 1.6rem;
      color: var(--font-color);
    }
    .list {
      display: flex;

      .personal-info__list {
        margin: 0 50px 0 0;
        li {
          margin: 0 0 20px 0;
        }
      }
    }
    .list-title {
      opacity: 0.8;
      color: var(--font-color);
      span {
        opacity: 1;
        color: rgb(53, 53, 53);
        font-weight: 600;
      }
    }
  }
  .personal-info__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    & > div {
      max-width: 50%;
      position: relative;
      flex: 0 0 50%;
      padding: 10px;
      box-sizing: border-box;
    }
  }
}

.separator {
  margin: 70px auto 55px;
  max-width: 40%;
}

.my-skills {
  text-align: center;
  .my-skills__title {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--font-color);
  }
  .my-skills__graphs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 calc(25% - 40px);
      margin: 40px 20px;
    }
  }
  .experience__divisor {
    display: flex;
    & > div {
      flex: 0 0 50%;
    }
  }
}

@media screen and (max-width: 480px) {
  .my-skills {
    .experience__divisor {
      display: inline-block;
      padding-bottom: 50px;
      // & > div {
      //   flex: 0 0 100%;
      // }
    }
  }
  .personal-info {
    .personal-info__right {
      & > div {
        max-width: 100%;
        padding: 10px;
        flex: 0 0 100%;
      }
    }
  }
  .list {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .my-skills {
    .my-skills__graphs {
      & > div {
        flex: 0 0 50%;
        margin: 40px 0px;
      }
    }
  }
  .personal-info {
    margin-top: 0;
    .personal-info__left {
      min-width: unset;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .personal-info {
    flex-wrap: nowrap;
  }
}
