.background {
  height: 100%;
  background: linear-gradient(
    110deg,
    rgba(255, 255, 255, 1) 78%,
    #c9003c 78.05%
  );
}

.container {
  max-width: 1280px;
  width: 100%;
}

.personal-info {
  margin-top: 100px;
  display: flex;
  // flex-wrap: wrap;
  .personal-info__left {
    min-width: 600px;
    // height: 500px;
    // background: rgb(103, 103, 219);
    .personal-info__title {
      padding-bottom: 22px;
      font-weight: 600;
      font-size: 1.6rem;
      color: #666;
    }
    .list {
      display: flex;

      .personal-info__list {
        margin: 0 50px 0 0;
        li {
          margin: 0 0 20px 0;
        }
      }
    }
    .list-title {
      opacity: 0.8;
      color: #666;
      span {
        opacity: 1;
        color: rgb(53, 53, 53);
        font-weight: 600;
      }
    }
  }
  .personal-info__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // width: 600px;
    & > div {
      // flex: 0 0 50%;
      max-width: 50%;
      position: relative;
      // width: 100%;
      // padding-right: 15px;
      // padding-left: 15px;
      margin: 10px;
    }
  }
}

.separator {
  margin: 70px auto 55px;
  max-width: 40%;
}
