<div class="background">
  <div class="container">
    <section class="title-session">
      <h1 class="title">SOBRE <span class="title">MIM</span></h1>
      <span class="title-bg">CURRÍCULO</span>
    </section>

    <section class="personal-info block">
      <div class="personal-info__left">
        <h2 class="personal-info__title">INFORMAÇÕES PESSOAIS</h2>
        <div class="list">
          <ul class="personal-info__list">
            <li>
              <p class="list-title">Nome : <span>Pedro</span></p>
            </li>
            <li>
              <p class="list-title">Sobrenome : <span>Albuquerque</span></p>
            </li>
            <li>
              <p class="list-title">
                E-mail : <span>pdroalbqrq@gmail.com</span>
              </p>
            </li>
            <li>
              <p class="list-title">Idade : <span>22 anos</span></p>
            </li>
            <li>
              <p class="list-title">Nacionalidade : <span>brasileiro</span></p>
            </li>
          </ul>
          <ul class="personal-info__list">
            <li>
              <p class="list-title">Freelance : <span>Disponível</span></p>
            </li>
            <li>
              <p class="list-title">Endereço : <span>Olinda</span></p>
            </li>
            <li>
              <p class="list-title">Telefone : <span>+55 9 9880 2269</span></p>
            </li>
            <li>
              <p class="list-title">Idiomas : <span>Português, Inglês</span></p>
            </li>
          </ul>
        </div>
      </div>
      <div class="personal-info__right">
        <div *ngFor="let info of infos">
          <app-card-info [infos]="info"></app-card-info>
        </div>
      </div>
    </section>
    <hr class="separator block" />
  </div>
</div>
