<div class="background">
  <div class="container">
    <section class="title-session block">
      <h1 class="title">SOBRE <span class="title">MIM</span></h1>
      <span class="title-bg">CURRÍCULO</span>
    </section>
    <div class="block">
      <section class="personal-info">
        <div class="personal-info__left">
          <h2 class="personal-info__title">INFORMAÇÕES PESSOAIS</h2>
          <div class="list">
            <ul class="personal-info__list">
              <li *ngFor="let columnOne of aboutMeFirst">
                <p class="list-title">
                  {{ columnOne.key }} : <span>{{ columnOne.value }}</span>
                </p>
              </li>
            </ul>

            <ul class="personal-info__list">
              <li *ngFor="let columnTwo of aboutMeSecond">
                <p class="list-title">
                  {{ columnTwo.key }} : <span>{{ columnTwo.value }}</span>
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="personal-info__right">
          <div *ngFor="let info of infos">
            <app-card-info [infos]="info"></app-card-info>
          </div>
        </div>
      </section>
      <hr class="separator" />
      <section class="my-skills">
        <h1 class="my-skills__title">
          MINHAS HABILIDADES
        </h1>
        <div class="my-skills__graphs">
          <div *ngFor="let skill of skills">
            <app-graph [skill]="skill"></app-graph>
          </div>
        </div>
      </section>
      <hr class="separator" />
      <section class="my-skills">
        <h1 class="my-skills__title">
          EXPERIÊNCIA E EDUCAÇÃO
        </h1>
        <div class="experience__divisor">
          <div>
            <app-experience
              *ngFor="let eJ of experienceJob"
              [isJob]="true"
              [experience]="eJ"
            ></app-experience>
          </div>
          <div>
            <app-experience
              *ngFor="let eJ of experienceStudy"
              [isJob]="false"
              [experience]="eJ"
            ></app-experience>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
