.background {
  align-items: center;
  background: linear-gradient(
    75deg,
    var(--primary-color) 24%,
    var(--secondary-color) 24.05%
  );

  .home__social-medias {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      &:hover {
        svg {
          fill: var(--primary-color);
          transform: scale(1.2);
        }
        span {
          top: 80%;
          opacity: 0.9;
        }
      }
      svg {
        margin: 10px;
        fill: var(--font-color);
        transition: 0.2s;
      }

      span {
        position: absolute;
        top: 60%;
        margin-top: 10px;
        padding: 0.25rem 0.8rem;
        font-size: 0.8rem;
        font-weight: 500;
        white-space: nowrap;
        color: var(--secondary-color);
        border-radius: 50px;
        background-color: var(--primary-color);
        box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
          0 5px 15px rgba(0, 0, 0, 0.07);

        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

.main-button {
  padding: 0px 40px;
  border: 0px;
  border-radius: 10px;
  background: var(--primary-color);
  cursor: pointer;
  outline: none;
  span {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: 0.5px;
    color: var(--secondary-color);
  }
}

.my-image {
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: calc(100vh - 100px);
  margin: 0 15px 0 30px;
  width: 33.3333333%;
  border-radius: 15px;
  flex: 0 0 33.333333%;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  h6 {
    color: var(--primary-color);
  }
  p {
    margin: 10px 0 23px;
    font-size: 16px;
    line-height: 32px;
    color: var(--font-color);
  }
  .my-name {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: var(--primary-color);
    span {
      color: var(--font-color);
    }
  }
}
.text-container {
  width: 600px;
}
@media (max-width: 330px) {
  .my-image {
    display: none;
  }
}
@media (max-width: 480px) {
  .background {
    padding-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .background {
    // padding: 20px 0;
    .my-image.block {
      border-radius: 50%;
      height: 200px;
      width: 200px;
    }
  }
  .text {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .background {
    flex-direction: column;
    justify-content: space-around;
    background: white;
    .home__social-medias {
      display: none;
    }
    .my-image {
      flex: none;
      border-radius: 50%;
      height: 300px;
      width: 300px;
    }
    .text {
      .text-container {
        width: 600px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .my-image {
    flex: 0 0 40%;
    // width: 40%;
  }

  .text-container {
    width: 400px;
  }
}
