.background {
  background: url() no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  & > div {
    background: rgba(0, 0, 0, 0.712);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .title {
    color: white;
    font-size: 6em;
    font-weight: bold;
  }
  #subtitle {
    color: white;
    font-size: 2em;
    padding-left: 5px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
