.portifolio-figure {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  border-radius: 10px;
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
  overflow: hidden;
  color: white;
  font-weight: bold;
  .overlay-title {
    background-color: var(--primary-color-transparent);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }
}
